@media (max-width: 576px) {
    .p1Des {
        width: 100%;
    }

    .desktopVersion {
        font-size: 20px;
    }

    .mobileVersion {
        font-size: 20px;
    }

    .techUsedHeading {
        font-size: 18px;
    }
}

@media (min-width: 577px) {
    .p1Des {
        width: 60%;
    }

    .desktopVersion {
        font-size: 30px;
    }

    .mobileVersion {
        font-size: 30px;
    }
}

.p1Box {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px;
}

.liveDemo {
    text-decoration: none;
    color: black;
}

.liveDemo:hover {
    transform: scale(1.05);
}

.p1Title {
    font-family: Dancing Script, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.mobileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktopVersion {
    text-align: center;
    margin-top: 5%;
    background-color: beige;
    font-family: Dancing Script, serif;
    font-weight: 900;
}

.mobileVersion {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: beige;
    font-family: Dancing Script, serif;
    font-weight: 900;
}

.desktopScreenshots {
    margin-top: 10%;
    width: 100%;
    outline: 4px solid rgb(156, 156, 85);
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mobileScreenshots {
    width: 50%;
    outline: 4px solid rgb(156, 156, 85);
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.techUsedHeading {
    margin-top: 9%;
    text-align: center;
}

.technologyUsedLogo {
    margin-top: 5%;
    width: 8%;
    height: 50%;
}

.logoNote {
    width: 60%;
    font-size: 10px;
}